<a href="https://colab.research.google.com/github/hadiprasetiyo/posttest2_datamining/blob/master/B_2109116070_POSTTEST2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# (1) Apriori

Gunakan dataset ini : https://drive.google.com/file/d/1BqC-2d1ZYqFIFwdjdsW5bAAqNFh2AO4C/view?usp=share_link

Dan buatlah daftar support dan confidence untuk 2 item set dengan menggunakan dataset tersebut (hint : buatlah tabel tabulasi terlebih dahulu untuk memudahkan)

In [3]:
import pandas as pd
import seaborn as sns

ModuleNotFoundError: No module named 'seaborn'

In [3]:
df = pd.read_csv("market_basket.csv")
df

FileNotFoundError: [Errno 2] No such file or directory: 'dataset_market_basket.csv'

In [ ]:
# 1 Item set
df.sum()

In [ ]:
# Itemnya ada apa aja si
df.columns

In [ ]:
# 2 Item set
from itertools import permutations

# Extract unique items.
rules = list(permutations(df.columns, 2))
rules

In [ ]:
# Filter yang ada isinya aja yang dihitung
rule_baru = []
for rule in rules:
  # Memfilter dengan nama kolom
  if len(df[(df[rule[0]]==1) & (df[rule[1]]==1)]) >0:
    rule_baru.append(rule)
rule_baru

In [ ]:
hitung = {} #Ganti dictionary
for rule in rule_baru:
  banyak_data= len(df[
      (df[rule[0]]==1) & (df[rule[1]]==1)
      ])
  hitung[str(rule)] = banyak_data

hitung

In [ ]:
len(df)

In [ ]:
# List support
# supp = [i/len(df)*100 for i in hitung.values()]
# print(supp)


print("---")
for item,ab in hitung.items():
  print(f"{item} support = {ab/len(df)*100}%")

In [ ]:
# List Confidens
# print([ab/df[kolom[0]].sum()*100 for ab,kolom in zip(hitung,rules)])

print("---")
for item,ab in hitung.items():
  #"A->B"
  i = eval(item) #Ubah ke list dari string
  print(f"{i[0]}->{i[1]}  Confidence = {ab/df[i[0]].sum()*100}%")

# (2) KNN

Gunakan dataset ini : https://drive.google.com/file/d/1pXAJZZXCXosf0PTJkyogopKaPFxCYl22/view?usp=share_link

Kemudian buatlah tabel jarak berdasarkan data berikut ini :

![Gambar]()
<!-- 1412 -->

Menampilkan Data

In [1]:
import pandas as pd

df2 = pd.read_csv("deteksi_uang_palsu.csv")
df2

FileNotFoundError: [Errno 2] No such file or directory: 'deteksi_uang_palsu.csv'

1.   Membuat tabel jarak berdasarkan data baru yang ingin ditambahkan

In [ ]:
import numpy as np

# membuat dataframe dari data baru
new_data = pd.DataFrame({'diagonal'    : [172.25],
                         'height_left' : [103.94],
                         'height_right': [103.68],
                         'margin_low'  : [4.14],
                         'margin_up'   : [3.25],
                         'length'      : [112.48]})

# menghitung jarak antara setiap baris dataframe utama dengan dataframe data baru
jarak = []
for i in range(len(df2)):
    row = df2.iloc[i]
    distance = np.sqrt((row['diagonal'] - new_data['diagonal']) ** 2 +
                       (row['height_left'] - new_data['height_left']) ** 2 +
                       (row['height_right'] - new_data['height_right']) ** 2 +
                       (row['margin_low'] - new_data['margin_low']) ** 2 +
                       (row['margin_up'] - new_data['margin_up']) ** 2 +
                       (row['length'] - new_data['length']) ** 2)
    jarak.append(distance)

# Menambahkan kolom distance ke dataframe utama
df2['distance'] = jarak

# Menampilkan tabel jarak
print('Tabel Jarak : ')
print(df2['distance'])

NameError: ignored

2.   Mengurutkan data berdasarkan K jarak terdekat (dengan k = akar 2 dari banyak data)

In [ ]:
# Menghitung jarak antara setiap baris dataframe utama dengan dataframe data baru
df2['distance'] = np.sqrt(
    (df2['diagonal'] - 172.25)**2
    + (df2['height_left'] - 103.94)**2
    + (df2['height_right'] - 103.68)**2
    + (df2['margin_low'] - 4.14)**2
    + (df2['margin_up'] - 3.25)**2
    + (df2['length'] - 112.48)**2
)

# Mengurutkan data dari kecil ke besar dan menentukan data terdekat
k = int(np.sqrt(len(df2)))
data_terdekat = df2.sort_values('distance').head(k)

# Menampilkan data terdekat
print(data_terdekat)

3.   Menentukan hasil prediksi berdasarkan label terbanyak

In [ ]:
# Mengimpor library sklearn untuk menggunakan algoritma KNN
from sklearn.neighbors import KNeighborsClassifier

# Split data menjadi data training dan data testing
X_train = df2.drop(columns=['is_genuine','distance'],axis=1)
y_train = df2['is_genuine']

# inisiasi data baru menjadi data tes
test_data = new_data

# membuat variabel knn yang berisikan algoritma KNN dengan nilai K = akar 2 dari banyak data
knn = KNeighborsClassifier(n_neighbors=K)

# melatih knn dengan data training
knn.fit(X_train, y_train)

# memprediksi hasil
prediksi = knn.predict(test_data)

print("Hasil = "+ ' '.join(map(str, prediksi)))

# (3) Analisis

> Nama : Hadi Prasetiyo

> Nim : 2109116070

Penjelasan posttest :

Pilihlah salah satu tema dari daftar tema ini :  
1. Perbankan
2. Kesehatan
3. Ritel
4. Pendidkan

Kemudian lakukan analisis dengan menggunakan struktur CRISP-DM

Dimulai dari Business Understanding Hingga Data Preparation
<img src="https://th.bing.com/th/id/R.f8efea41ae3cd96d86fbc5b10f81ad77?rik=K4Dr%2biIaVGvW8g&riu=http%3a%2f%2fwww.dataprix.com%2ffiles%2fCRISPDM%2fMetodologia_CRISP_DM1_html_52cdbecf.png&ehk=6ONLJMCVxE421Sjt2JJPE6MfCzrL7LLhDZQPdkJTLcw%3d&risl=&pid=ImgRaw&r=0"/>

Tentukan judul dengan ketentuan setiap orang di kelas beda-beda judulnya dan sumber datasetnya (contoh bisa prediksi atau aturan asosiasi)

Catatan : Tugas ini akan berhubungan dengan posttest terakhir (pertemuan 6)

Analisis dengan menggunakan struktur CRISP-DM

# Business Understanding



1.   Pemahaman Bisnis

Perusahaan ini dapat menggunakan data ini untuk melakukan analisis premi asuransi mereka dan membuat penyesuaian harga berdasarkan data.

2.   Menilai Situasi

Kasus ini adalah perusahaan asuransi yang sedang beradaptasi dengan memanfaatkan teknologi baru berdasarkan data.

3.   Menentukan Tujuan

Tujuan data ini dibuat untuk melakukan prediksi terhadap biaya premi asuransi, memahami penjaminan risiko dalam asuransi kesehatan dan melihat bagaimana pengaruhnya terhadap premi asuransi.

4.   Membuat Rencana Proyek

Rencana proyek ini adalah menentukan permasalahan bagaimana dataset ini akan membantu permasalahan pada perusahaan ini, mengumpulkan dan melakukan data cleaning, melakukan data exploration, membuat model prediksi dan mengevaluasi efektivitas dari model prediksi atau solusi.

# Data Understanding

> **Mengumpulkan Data Awal**

Data yang dikumpulkan dari dataset adalah data dari hasil observasi pemilik dataset yang telah di upload pada Kaggle.



**Deskripsi Data**


*   Usia (Age)
*   Jenis Kelamin (Sex)
*   Body Mass Index (BMI)
*   Jumlah anak yang dicover oleh asuransi (Children)
*   Merokok atau Tidak Merokok (smoker)
*   Daerah (Region)
*   Biaya yang ditagih oleh asuransi (Charges)


**Data Exploration**

Dataset ini berisi 1338 baris data dan menggunakan atribut dataset campuran variabel numerik dan kategori.

In [ ]:
import pandas as pd

In [ ]:
df3 = pd.read_csv("asuransi_perusahaan.csv")
df3

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [ ]:
import plotly.express as px

In [ ]:
px.pie(df3, names = "sex")

In [ ]:
sns.countplot(data=df3,x="region")

In [ ]:
df3.hist("charges")

> Verifikasi Data

Dari dataset yang sudah disajikan, tidak ditemukannya data yang error.

# Data Preparation



> Memilih Data

Mengetahui faktor yang mempengaruhi premi asuransi, variabel yang relevan adalah jenis kelamin, usia, BMI, merokok/tidak merokok dan tagihan asuransi.

In [ ]:
df3.drop_duplicates(subset=None, keep='first', inplace=False, ignore_index=False)


> Menyusun Data

Dibawah ini merupakan construct data dengan metode transform, metode ini akan mengganti categori data dengan angka

In [ ]:
import numpy as np
import pandas as pd

df3 = pd.read_csv("asuransi_perusahaan.csv")
df3

In [ ]:
df3_categorical = df3.select_dtypes(exclude=[np.number])
df3_categorical

In [ ]:
df3_categorical['sex'].unique()

In [ ]:
df3_categorical.sex.value_counts()

In [ ]:
df3_categorical.sex.replace({"female":1, "male":2}, inplace= True)
df3_categorical.smoker.replace({"yes":1, "no":2}, inplace= True)

In [ ]:
df3_categorical.head()



> Mengintegrasi Data

Pada kasus ini hanya memiliki satu dataset yang sudah berisi semua data yang relevan untuk analisis Anda, maka integrasi data mungkin tidak diperlukan.